<!DOCTYPE html>
<html lang="en">
{%load static%}

<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <style>
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}
</style>
    <style id="table_style" type="text/css">
    body
    {
        font-family: Arial;
        font-size: 10pt;
    }
    table
    {
        border: 1px solid #ccc;
        border-collapse: collapse;
    }
    table th
    {
        background-color: #F7F7F7;
        color: #333;
        font-weight: bold;
    }
    table th, table td
    {
        padding: 5px;
        border: 1px solid #ccc;
    }
</style>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/purchases">Purchases</a></li>
  <li><a href="/sales">Sales</a></li>
  <li><a href="/employee">Employees</a></li>
  <li><a href="/products">Products</a></li>
    <li><a href="/saleProduct">Sold Products</a></li>
        <li><a href="/routes">Routes</a></li>
  <li><a href="/admin">Admin</a></li>
  <li style="float:right"><a href="#">About</a></li>
</ul>
<hr>

{% block content %}


{% endblock %}
    <script src="{% static './js/productform.js' %}"></script>
</body>
</html>